<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>AppIcon</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
		<key>VinCo-Icon-Sky</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Sky</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Violet</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Violet</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Mint</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Mint</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Rose</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Rose</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Lemon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Lemon</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Coral</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Coral</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Teal</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Teal</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Indigo</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Indigo</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Peach</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Peach</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Lime</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Lime</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Lavender</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Lavender</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Crimson</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Crimson</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Turquoise</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Turquoise</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Gold</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Gold</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>VinCo-Icon-Silver</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array><string>VinCo-Icon-Silver</string></array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>VinCo reads your music library to suggest vinyl records you might like based on your listening history.</string>
	<key>NSCameraUsageDescription</key>
	<string>VinCo uses the camera to scan vinyl record barcodes and photograph album covers for automatic record identification.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>VinCo reads photos from your library so you can import album cover screenshots for automatic record identification.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>VinCo uses your location to find vinyl record stores near you.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
